@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --gray: #333;
    --white: #f4f4f4;

    --font: "Montserrat";
}

h1, h2 { text-align: center; }
input { border: none; outline: none; border: 2px solid; border-radius: 8px; }
button { border: none; outline: none; border: 2px solid var(--gray); border-radius: 20px; transition: all ease-in-out .3s; }
button:hover { background-color: var(--gray); color: var(--white); }
body { font-family: Arial, sans-serif; padding: 20px; background: #f0f0f0; font-family: var(--font); }
section { background: #fff; padding: 15px; margin-bottom: 20px; border-radius: 8px; box-shadow: 0 0 10px rgba(0,0,0,0.1); width: fit-content; padding: 30px; margin: auto; }
h2 { color: var(--gray); }
input, button { margin: 5px 0; padding: 8px; font-size: 14px; }
ul { list-style-type: none; padding-left: 0; display: flex; flex-direction: column; gap: 18px; min-width: 200px; }

.btn { cursor: pointer; text-transform: uppercase; }

.list li { background-color: var(--gray); color: var(--white); width: auto; display: flex; justify-content: space-between; padding: 12px 20px; text-transform: uppercase;  border-radius: 8px; cursor: pointer; }